/* index.css */
main {
    width:1000px;
    background-color: #eee;
    margin: 0 auto;
}
main h1 {}
main h1 a{}
main h1 a img {}
/* ======================가입약관 */
main .law { /* 스크롤 만드는 법  */
    background-color: #fff;
    width: 90%; height: 180px; /* 박스크기 */
    overflow: auto; /*부모 크기보다 자식이 클 경우 auto자동으로 스크롤을 보이고 부모크기보다 자식이 작거나 적으면 auto자동으로 스크롤을 숨기는 속성값 */
    margin: 30px auto; padding: 16px;
}
main .law h2{margin: 0 0 30px;}
main .law h3{margin: 0 0 15px;}
main .law p{line-height: 1.5; margin: 20px 0;}
/* ======================가입정보입력 */
main #login_frm {}
main #login_frm .member_info {
    /* width:1000px; */
    overflow: hidden;
}
main #login_frm .member_info dt {
    width: 200px;
    float: left; clear:both;
}
main #login_frm .member_info dt em{color: red;}
main #login_frm .member_info dd{
    float: left; 
}
/* ===============================사용자 입력 선택양식을 담은 두번째 dd 선택자 */
/* main #login_frm .member_info dd:nth-of-type(odd) {} 아래와 동일한 선택자 */
main #login_frm .member_info dd:nth-of-type(2n+1) {
    width: 650px;
}
/* ===============================중복확인, 인증번호를 담은 두번째 dd 선택자 */
/* main #login_frm .member_info dd:nth-of-type(even) {} 아래와 동일한 선택자*/
main #login_frm .member_info dd:nth-of-type(2n+2) {
    width: 150px;
}
/* ===============================나머지 자식, 자손 개별 선택자 */
/* ===============================id,pw,name,email,phone 묶음 속성 */
main #login_frm .member_info dd input[name^=user]{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%; padding: 12px;
} /* 속성 네임이 유저로 시작하면 선택한다. */
/* ===============================오른쪽 중복확인, 인증번호, 버튼 묶음 선택자 */
main #login_frm .member_info dd:nth-of-type(2n) {
    text-align: right;
    
}
main #login_frm .member_info dd:nth-of-type(2n) .btn {
    background-color: #5f0080; color:#fff;
    width:90%; height:45px; border-radius: 5px;
    
}/* 상세 */
main #login_frm .member_info dd:nth-of-type(2n) .btn:hover {
    filter:brightness(120%);
}
/* ===============================휴대폰, 주소, 성별, 생년월일 선택자 */
main #login_frm .member_info dd select[name^=nawe] {
    background: #fff url(../images/ico_down_16x10.png) no-repeat 95% center/7px;
    width: 60px; border: 1px solid #ccc; border-radius: 5px;
    padding: 4px; font-size: 0.875rem; height: 50px;
    float: left;
    margin-right: 5px;
}
main #login_frm .member_info dd select[name^=nawe] option {}
main #login_frm .member_info dd input[name*=phone] {
    float: left; 
    width: calc(90% - 65px);
}
/* ===============================인증번호 개별 선택자 */
main #login_frm .member_info dd #authentication_btn {
    background-color: #ccc;
}
main #login_frm .member_info dd #authentication_btn:hover{
    color: #000;
}
main #login_frm .member_info dd #address_search_btn {

    border:1px solid #5f0080;
    background-color: #fff; width:90%;
    padding:12px 0; border-radius: 5px;
}/* 주소검색 */
main #login_frm .member_info dd #address_search_btn + span{
    display: block;
    color: #aaa;
}
main #login_frm .member_info .gender_g {text-align: center; padding: 20px;}
main #login_frm .member_info dd input[name=gender]{display: none;} /* 남,여,안함 선택박스 */
main #login_frm .member_info dd input[name=gender] + label{
    /* 비활성화 디자인 */
    padding-left: 20px; margin-right:20px;
    background-image: url(../images/check_state.svg);
    background-repeat: no-repeat;
    background-position: 0 4.5px;
    background-size: 16px;
} /* 남,여,안함 세부선택 */
main #login_frm .member_info dd input[name=gender]:checked + label {
    /* 활성화 디자인 */
    background-image: url(../images/check_state_on.png);
} /* 남,여,안함 세부선택 */
main #login_frm .member_info dd #male + label{} /* 남 개별선택 */
main #login_frm .member_info dd #female + label{} /* 여 개별선택 */
main #login_frm .member_info dd input[name=gender] + label:last-of-type{margin-right: 0;} /* 안함 개별선택 */
main #login_frm .member_info .gender_g ~ dd {
    text-align: center;
}
main #login_frm .member_info .gender_g ~ dd:nth-last-of-type(2){
    background-color: #fff;
    width: calc(650px * 0.9); /* dt의 크기 1000px, dd의 크기는 삼열중 650px */
    padding: 8px 0;
    border: 1px solid #5f0080;
    border-radius: 5px;
} 
main #login_frm .member_info dd input[name^=birthday]{
    width: 50px; text-align: center;
    color: #ccc;
}/* 생일박스 */
main #login_frm .member_info dd:nth-last-of-type(2) span::after {
    content:'/';
    display: inline-block;
    color: #ccc;
    font-size: 14px; margin: 0 4px;
}
main #login_frm .member_info dd:nth-last-of-type(2) span:nth-child(3)::after {
    display: none;
}
/* ======================가입버튼 */
main #login_frm > .btn {
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
}
main #login_frm .btn #sign_up_btn{
    width: 30%; padding: 14px 0; 
    border-radius: 8px;
    background-color: #5f0080;
    color: #fff;
}
main #login_frm .btn #sign_up_btn:hover {
    background-color: #fff;
    color: #5f0080;
    border: 1px solid #5f0080;
}