/* main.css */
#wrap {
    width: 440px; height: 956px;
    text-align: left;
    line-height: 1;
}
#wrap .box1 {
    background-color: #48CFCB;
    height: 60px;
}
#wrap h1 {
    font-weight: 700; /* bold */
    font-size: 2.5rem; /* 40px */
    color: #48CFCB;
    padding-top: 110px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
#wrap>p {color:#48CFCB;} /*wrap의 모든 자식 p  */
#wrap>h1+p {
    font-weight: 400;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
} /*wrap의 h1 의 아래형제의 p  */
#wrap #login_frm {
    padding-left: 15px;
    padding-right: 15px;
}
#wrap #login_frm .email_password_wrap {
    width: 410px;
    margin-bottom: 55px;

}
#wrap #login_frm .email_password_wrap h2 {
    font-weight: 600;
    font-size: 1.375em;
    color:#48CFCB;
    margin-top: 20px;
    margin-bottom: 20px;
}
#wrap #login_frm .email_password_wrap p {}
#wrap #login_frm .email_password_wrap p input::placeholder {
    /* placeholder 속성선택자작성법 */
    font-size: 0.875rem;
    color:#9FB3DF;
}
#wrap #login_frm .email_password_wrap p input {
    width:100%; height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 0.875rem;
    color: #9FB3DF;
    border:1px solid #48CFCB;
}

#wrap #login_frm .Forgot_password_wrap {}
#wrap #login_frm .Forgot_password_wrap h2 {
    font-weight: 600;
    font-size: 1.375em;
    color:#48CFCB;
    margin-bottom: 20px;
}
#wrap #login_frm .Forgot_password_wrap p {
    text-align: center;
}
#wrap #login_frm .Forgot_password_wrap #login_btn {
    width: 100%; height: 44px;
    background-color: #48CFCB;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #fff;
    font-size: 0.875rem;
}
#wrap #login_frm .Forgot_password_wrap .Login_Google {
    width: 100%; height: 44px;
    background-color: #9FB3DF;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 0.875rem;
    display: block;
    line-height: 44px;
}
#wrap #login_frm+p {
    margin-top: 30px;
    font-size: 0.75rem;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0;
    text-align: center;
    font-weight: 300;
} /* wrap의  #login_wrap 아래형제의 P*/
#wrap #login_frm+p a {
    color: #9FB3DF;
    font-weight: 600;
}
#wrap .box2{
    height: 60px;
    background-color: #48CFCB;
    margin-top: 111px;
}