table, tr, td {border:1px solid #000}
#t {width: 300px; height: 300px;}
#t tbody {}
#t tbody tr {}
#t tbody tr td {}
/* #t tbody tr:nth-child(1) td:nth-child(1) {background-color:yellow;} */
#t tbody tr:first-child td:first-child {background-color:coral;}
#t tbody tr:nth-child(2) td:nth-child(2) {background-color:yellow;}
/* #t tbody tr:nth-child(3) td:nth-child(3) {background-color:green;} */
#t tbody tr:last-child td:last-child {background-color: green;}
/* box */
.box h2:nth-child(3) {background-color: aqua;}
.box h2:nth-of-type(1) {color:blue;}
.box h2:first-of-type {font-weight: 800;}
.box p:nth-child(5) {background-color:pink;}
.box p:nth-of-type(3) {color:purple; font-weight: 700;}
/* list */
.list {}
.list li {
    width: 50px; height: 50px;
    display: inline-block;
    line-height: 50px;
    border: 1px solid #000;
    font-size: 0.75rem;
    text-align: center;
}
.list li:nth-child(3n+1) {background-color:yellow;}
.list li:nth-child(even) {border: 2px solid red;}
.list li:nth-child(odd) {color:blue;}