.wrap1 {
    background-color: lightslategray;
    display:flex;
    /* flex-direction:row; */ /* 컨테이너에 작성하는 메인축정렬 */
    /* flex-wrap: wrap-reverse; */ /* 컨테이너의 item 줄바꿈처리 */
    flex-flow:row wrap; /* 방향과 줄바꿈 한번에 작성하는 순서  */
    justify-content:center;
    height: 600px;
}
.wrap1 li{
    width:100px; height:100px; font-size: 3rem;
}
.wrap1 li:nth-child(odd) {background-color: aqua;}
.wrap1 li:nth-child(even) {background-color: yellow;}
/* .wrap1 li:nth-child(3) {background-color: crimson;}
.wrap1 li:nth-child(4) {background-color: lime;} */
/*============== 4/29 flex2일차 연습 */
.wrap2{
    background-color: #eee;
    width: 90%; height: 600px;
    margin: 30px auto 0; padding: 20px;
    display: flex; /* 방향, 줄바꿈의 기본값은 row, nowrap */
    flex-flow: row nowrap;
    /* 교차축 2줄 이상일 때 정렬방법(flex-wrap:wrap기준) */
    /* align-content:space-between; */
    /* 교차축 1줄 이상일 때 정렬방법(flex-wrap:nowrap기준) */
    align-items:center;
}
.wrap2 li{/* width: 150px; */ flex:1; height: 150px; color: #fff; font-size: 5rem;}
.wrap2 li:nth-child(odd){background-color: purple;}
.wrap2 li:nth-child(even){background-color: hotpink;}
.wrap2 li:nth-child(1) {order:8;}
.wrap2 li:nth-child(2) {order:7; flex:2;}
.wrap2 li:nth-child(3) {order:6;}
.wrap2 li:nth-child(4) {order:5;}
.wrap2 li:nth-child(5) {order:4;}
.wrap2 li:nth-child(6) {order:3;}
.wrap2 li:nth-child(7) {order:2;align-self:flex-end}
.wrap2 li:nth-child(8) {order:1;}