h1 {
    background-color:yellow;
    font-family:'궁서체','바탕체',serif;
    /* 글꼴 명이 한글 또는 공백이 포함되어 있을 경우 따옴표('')를 묶어서 작성해야 한다 */
    font-weight:400;
}
h2 {
    background-color: skyblue;
    font-family:'굴림','맑은 고딕',sans-serif;
    color:blue;
}
h3 {
    background-color: orange;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight:400;
} 
h4 {
    background-color: pink;
    font-family:'Nanum Myeongjo',serif;
    font-weight: 800;
}
h5 {
    background-color: greenyellow;
    font-family: "Nanum Pen Script",'cursive';
}
p {
    background-color: purple;
    color: white;
    font-family: 'Pretendard',sans-serif;
    font-weight:800;
    /* 글꼴 굵기 설정 값 400(기본값) */
}
.size_weap {
    background-color:rgba(0,0,0,0.1);
    font-size:1.25rem;
}
.size_weap dt {}
.size_weap dd {font-size:1rem;}
.size_weap .content {
    font-family: 'pretendard',sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height:1.7;
}
.datails {
    background-color: white;
    color:#555;
    font-size:1.25rem;
    line-height:1.5;
    font-family:'Noto Sans KR',sans-serif;
    font-weight:500;
    letter-spacing:-0.02em;/* 피그마 -2% */
}
.datails code {background-color:yellow; color:blue;}
.box {
    background-color: #000;
    color:#fff;
    width:200px; height:200px;
    text-align:center;
    /* text-align속성은 속성값을 입력한 대상 기준으로 그 자식 또는 자손이 인라인 요소일 경우만 적용된다. (단순 글자도 인란인으로 인식함) */
    line-height: 200px;
    /* line-height을 이용한 수직정렬 주의사항 */
    /* 요소의 height값이 px로 작성된 경우 그 값을 그대로 line-height의 px값으로 작성하여 수직 정렬 가운데 정렬을 적용한다. 단, 글자가 2줄 이상일 경우 적용해선 안되며 1줄일때만 사용해야 한다. */
}
